@forward '@/scss/theme.scss';
@forward '@/scss/app.scss';

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  background-color: var(--theme-bg);
  color: var(--theme-on-bg);
  // TODO: Choose good font and load it
  font-family: 'Manrope', sans-serif;

  &.init-complete {
    transition: background-color 0.5s, color 0.5s;
  }
}

body {
  transition: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--theme-primary);
}

.info {
  font-style: italic;
}

.small-divider {
  width: 10vw;
}

.divider {
  width: 20vw;
}

// ── Notifications ──────────────────────────────────────────────────────
.notifications {
    .vue-notification {
        padding: 20px;
        .notification-title {
            font-size: 1rem;
        }
        .notification-text {
            font-size: 0.75rem;
        }
    }
}

// TODO: Colour
::selection {
    background-color: #7c8cec;
    color: white;
}

button {
  color: var(--theme-on-primary);
  padding: 7px;
  background: var(--theme-primary);
  border-radius: 20px;
  margin: 2px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s, border-radius 0.5s;

  &:hover {
    border-radius: 5px;
    background-color: var(--theme-primary-hover);
  }

  // TODO: Update these buttons
  &.fancy-button {
    color: white;
    text-decoration: none;
    padding: 20px;
    background: linear-gradient(45deg, rgb(0, 33, 139), rgb(151, 0, 0));
    font-size: larger;
    transition: all 0.5s;
    background-size: 150%;

    &:hover {
      border-radius: 5px;
      background-position: 50%;
    }

    &.inactive {
      background: linear-gradient(45deg, rgba(0, 33, 139, 0.6), rgba(151, 0, 0, 0.6));
      cursor: not-allowed;

      &:hover {
        border-radius: 20px;
        background-position: 0px;
      }
    }
  }
}
