@use 'sass:color';

// TODO: Update colours
$theme-red-light: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-red-dark: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-blue-light: (
  on-bg: #ffffff,
  bg: #080813,
  on-app: #ffffff,
  app: #020202,
  on-primary: #ffffff,
  primary: #04305c,
  primary-hover: #08328c,
  on-secondary: #ffffff,
  secondary: #7583da,
  secondary-hover: #7593c0,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-blue-dark: (
  on-bg: #ffffff,
  bg: #080813,
  on-app: #ffffff,
  app: #020202,
  on-primary: #ffffff,
  primary: #04305c,
  primary-hover: #08328c,
  on-secondary: #ffffff,
  secondary: #7583da,
  secondary-hover: #7593c0,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-purple-light: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-purple-dark: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-black-light: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-black-dark: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-white-light: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

$theme-white-dark: (
  on-bg: #feffd1,
  bg: #1d0303,
  app: #410f0c,
  on-app: #410f0c,
  primary: #410f0c,
  primary-hover: #910f0c,
  on-primary: #feffd1,
  secondary: #fa5347,
  secondary-hover: #ca2745,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

@mixin gen-theme ($selector, $theme) {
  #{$selector} {
    @each $var, $value in $theme {
      --theme-#{$var}: #{$value};
    }
  }
}
