.playlists {
  height: 100%;
  width: 100%;
  position: relative;
  flex-shrink: 1;
  overflow-x: hidden;

  >.playlist-wrapper {
    width: 100%;
    height: calc(100% - 6.5rem - 80px);
    margin-bottom: calc(4.5rem + 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    >.playlist-container {
      width: 80%;
      margin-top: 20px;
      height: calc(100% - 20px);
      flex-shrink: 1;
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
      overflow-x: hidden;

      >.playlist {
        width: 17rem;
        height: 17rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 1px var(--theme-on-bg);
        border-radius: 20px;
        margin-right: 10px;
        overflow: hidden;

        >.playlist-icon {
          padding: 10px;
          width: calc(100% - 20px);
          height: 100%;
          background-color: var(--theme-primary);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          >.fa-solid {
            color: var(--theme-on-primary);
            font-size: 10rem;
          }
        }

        >.playlist-details {
          display: flex;
          width: calc(100% - 20px);
          justify-content: center;
          align-items: center;
          border-top: solid 1px var(--theme-on-bg);
          color: var(--theme-on-primary);
          background-color: var(--theme-primary-hover);
          padding: 10px;

          >h2{
            margin: 0;
            margin-right: auto;
            margin-left: 10px;
            width: calc(100% - 6rem);
            text-align: start;
            cursor: pointer;
            height: 100%;
            text-wrap: no-wrap;
            text-overflow: ellipsis;
          }

          >.fa-solid {
            cursor: pointer;
          }
        }
      }
    }
  }
}
