.queue-viewer {
  height: 100%;
  width: 100%;
  overflow: hidden;

  >.queue-container {
    display: flex;
    width: 100%;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .queue-empty {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .song-list-element {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-left: 7px;

      >.song-cover-wrapper {
        height: 4rem;
        width: 4rem;
        position: relative;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 10px;

        .song-cover,
        .fa-solid {
          height: 100%;
          width: 100%;
          font-size: 3.5rem;
          line-height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        >.play-overlay {
          background-color: var(--theme-shadow);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;

          &.hover {
            display: none;
          }
        }

        &:hover {
          >.play-overlay.hover {
            display: block;
          }
        }
      }

      >.song-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-wrap: nowrap;
        width: calc(100% - 3.5rem);
        margin-right: auto;

        >* {
          margin: 0px;
          text-overflow: ellipsis;
          overflow-x: hidden;
          max-width: 100%;
        }

        >h3 {
          font-size: 1.1rem;
        }

        >p {
          font-size: 1rem;
        }

        >.additional-info {
          font-size: 0.9rem;
          font-style: italic;
        }
      }

      >.song-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;

        >* {
          margin: 5px;
        }

        >.fa-solid {
          font-size: 1.25rem;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (min-width: 900px) {
    width: 90%;

    >.queue-container {
      height: 90%;

      .song-list-element {
        width: calc(100% - 1.5rem);
        margin-left: 0;

        >.song-cover-wrapper {
          height: 7rem;
          width: 7rem;
          margin-right: 20px;

          .fa-solid {
            font-size: 6rem;
          }
        }

        >.song-details {
          text-wrap: nowrap;
          width: calc(100% - 18rem);

          >* {
            margin: 2px;
          }

          >h3 {
            font-size: 1.4rem;
          }

          >p {
            font-size: 1.1rem;
          }

          >.additional-info {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
