.search-results-wrapper {
  width: 70vw;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.placeholder {
    justify-content: center;
  }

  >div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 75%;
    cursor: pointer;

    >div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;

      >* {
        margin: 5px;
      }
    }

    >.fa-solid {
      margin-left: auto;
      font-size: 2rem;
    }

    >img,
    .img-placeholder {
      height: 7rem;
      width: 7rem;
      margin-right: 20px;
      font-size: 6rem;
      margin-left: 0;
    }
  }
}
