$theme-shared-dark: (
  on-bg: #ffffff,
  bg: #000000,
  app: #000000,
  on-app: #ffffff,
  primary: #04305c,
  primary-hover: #1542ac,
  on-primary: #ffffff,
  shadow: rgba(20, 20, 20, 0.7),
);

$theme-shared-light: (
  on-bg: #000000,
  bg: #cacad3,
  on-app: #000000,
  app: #fefefe,
  on-primary: #ffffff,
  primary: #04305c,
  primary-hover: #1542ac,
  on-secondary: #ffffff,
  shadow: rgba(0, 0, 0, 0.7),
);

@mixin gen-shared-theme ($selector, $theme) {
  #{$selector} {
    @each $var, $value in $theme {
      --theme-#{$var}: #{$value};
    }
  }
}
