<!DOCTYPE html>
<html>
    <head>
        <!-- NOTE: You should definitely host this yourself! (and you can adjust the style that way, too!) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/janishutz/oidclogin/public/style.css">
    </head>
    <body>
        <div class="message-wrapper">
            <h1>401</h1>
            <p>Unauthorized</p>
        </div>
        <p>You are not authorized to view this page. Please log in</p>
        <a href="/">Back Home</a>
    </body>
</html>
