<!DOCTYPE html>
<html>
    <head>
        <!-- NOTE: You should definitely host this yourself! (and you can adjust the style that way, too!) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/janishutz/oidclogin/public/style.css">
    </head>
    <body>
        <div class="message-wrapper">
            <h1>500</h1>
            <p>Internal Server Error</p>
        </div>
        <p>There was an error logging you in. Please try again. We are sorry for the inconvenience</p>
        <a href="/">Back Home</a>
        <p class="error-msg">{{ .error }}</p>
    </body>
</html>
